.review {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.user {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.userImg {
  width: 5%;
  height: 5%;
  border: 1px solid #d5d5d5;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.reviewsPoints {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.reviewPar {
  text-align: justify;
}