.profile {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.homeButton {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 40px;
  max-width: 1000px;
  min-width: 600px;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #fafafa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


.inputs {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.rightSideButtons {
  max-width: 330px;
  height: 500px;
  overflow-y: auto;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #fafafa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.rightSideButtons button:hover {
  background-color: #005fcc;
}

.reviewMark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.itemButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  width: 95%;
  padding: 8px 8px;
  border: none;
  border-radius: 20px;
  background-color: #9e9e9e;
  color: #ffffff; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.itemButton:hover {
  background-color: #c2dfff;
  box-shadow: 0 0 5px #0077ff;
  color: #000;
}

.itemImg {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  padding: 5px;
  object-fit: contain;
  background-color: #fafafa;
}

.imageUpload {
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1 / 1;  
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  display: block;
}


.form label {
  font-weight: bold;
}

.form input {
  margin-top: 10px;
  border-radius: 30px;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

.form input:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 3px #0077ff88;
}

.form input:invalid {
  border: 2px solid #850000;
}

.submitButton {
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:not(:disabled) {
  background-color: #0077ff;
}

.submitButton:not(:disabled):hover {
  background-color: #005fcc;
}

.submitButton:disabled {
  background-color: #767676;
  cursor: not-allowed;
}

.passwordField {
  display: flex;
  align-items: center;
  position: relative;
}

.passwordField input {
  flex: 1;
}

.passwordButton {
  position: absolute;
  bottom: 2px;
  right: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.error {
  color: #780000;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 800px) and (max-width: 1400px) {
  .imageUpload {
    width: 230px;
    height: 230px;
  }

  .previewImage {
    width: 230px;
    height: 230px;
  }

  .profile {
    padding: 20px 10px;
    gap: 20px;
  }

  .form {
    min-width: auto;
    height: 450px;
    padding: 16px;
    gap: 24px;
  }

  .inputs {
    min-width: 300px;
    gap: 12px;
    font-size: 14px;
  }

  .rightSideButtons {
    height: 450px;
    padding: 16px;
  }

  .itemImg {
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }

  .itemButton {
    font-size: 14px;
    padding: 8px 12px;
    gap: 8px;
  }

  .form label {
    font-size: 14px;
  }

  .form input {
    font-size: 14px; 
    height: 32px; 
  }

  .submitButton {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 800px) {
  .profile {
    flex-direction: column;
  }

  .imageUpload {
    width: 200px;
    height: 200px;
  }

  .previewImage {
    width: 200px;
    height: 200px;
  }

  .form {
    min-width: 100%;
    height: 375px;
    padding: 10px;
    gap: 24px;
  }

  .inputs {
    min-width: 250px;
    gap: 12px;
    font-size: 10px;
  }

  .rightSideButtons {
    height: 450px;
    padding: 16px;
  }

  .itemImg {
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }

  .itemButton {
    font-size: 12px;
    padding: 8px 12px;
    gap: 8px;
  }

  .form label {
    font-size: 10px;
  }

  .form input {
    font-size: 10px; 
    height: 24px; 
  }

  .submitButton {
    font-size: 10px;
    padding: 8px 16px;
  }

  .passwordButton {
    height: 20px;
  }
}