.header {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 800px)  {
  .header {
    gap: 10px;
  }
}

