.categoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: calc(4 * 300px + 3 * 2rem); /* максимум 4 колонки */
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
}
